@font-face {
<<<<<<< HEAD
  font-family: "Circular Black ";
  src: url("./CircularStd-Black.otf");
}

@font-face {
  font-family: "American Typewriter";
  src: url("./American Typewriter Regular.ttf");
}
=======
  font-family: "Circular Black";
  src: url("./CircularStd-Black.otf");
}
>>>>>>> 8e3b7be7b85462994ce0b06572366468b03482c3
