@import "./fonts/fonts.css";
@import "./abstracts/_mixins.scss";
@import "./abstracts/variables.scss";

$font2: "Corsica";
$font1: "Circular";
$font3: "HK-Grotesk";
$lightblack: rgb(54, 60, 76);
$lightgrey1: #d1d9dc;
$lightgreen: #bcd4bd;
$lightbrown: #e6e2c7;
$lightpurple: #d0cec9;

.facts {
  display: flex;
  flex-direction: row;
  font-family: $font1;
  padding-bottom: 10%;
  @include sm {
    display: flex;
    flex-direction: column;
    margin-top: -15%;
    margin-left: 4%;
    margin-bottom: 10%;
  }
  @include xsm{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
  
  }
  @include xs {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
  }

  .Milk {
    margin-left: 20%;
    margin-top: 12%;
    width: 15%;
    height: 15%;

    @include lg {
      display: none;
    }
    @include sm {
      display: none;
    }
    @include md {
      display: none;
    }
    
  }

  .download-btn {
    width: 350px;
    height: 50px;
    margin-top: 32%;
    margin-left: -19%;
    background: none;

    font-family: $font2;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $lightblack;
    border: 2px solid $lightblack;
    box-shadow: rgb(54, 60, 76) 0px 0px 0px 2px inset;

    @include xl {
      margin-left: -20%;
    }

    @include lg {
    
      width: 300px;
      margin-left: 37%;
      margin-top: 5%;
    }
   
    @include md {
      width: 300px;
      margin-left: 32.5%;
      margin-top: 20%;
    }
    
    @include sm {
      width: 300px;
      margin-left: 7%;
      margin-top: 20%;
      font-size: 12px;
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 10%;
    
    @include lg {
      margin-top: 20%;
      margin-left: -36%;
    }
    
    @include md {
      margin-top: 40%;
      margin-left: -48%;
    }
    @include sm {
      margin-left: 16%;
      margin-top: 20%;
    }
  }

  .section1 {
    display: flex;
    flex-direction: row;
    width: 100%;

    .f1 {
      height: 200px;
      width: 200px;
      background:$lightgrey1;
      border-radius: 20px;
      text-align: center;
      

      @include sm {
        width: 100px;
        height: 100px;
      }
      h1 {
      
        font-size:  1.8rem;
        margin-top: 40px;

        @include md {
          font-size: 2.8vw;
        }
        @include sm {
          margin-top: 20%;
          font-size: 1rem;
        }
      }
      p {
        font-size: clamp(0.9rem, 2vw, 1.2rem);
        color: black;
        margin-top: 40px;
        @include sm {
          margin-top: 18%;
          font-size: 0.8rem;
        }
      }
    }
    .f2 {
      width: 200px;
      height: 200px;
      background:$lightgreen;
      border-radius: 20px;
      text-align: center;
      

      margin-left: 30px;
      @include sm {
        width: 100px;
        height: 100px;
      }
      h1 {
        
        font-size:1.6rem;
        margin-top: 45px;
        @include md {
          font-size: 2.8vw;
        }
        @include sm {
          margin-top: 20%;
          font-size: 1rem;
        }
      }
      p {
        font-size: clamp(.9rem, 2vw, 1.2rem);
        color: black;
        margin-top: 45px;
        @include sm {
          margin-top: 18%;
        }
      }
    }
  }
  .section2 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;

    .f3 {
      width: 200px;
      height: 200px;
      background:$lightbrown;
      border-radius: 20px;
      text-align: center;
      
      @include sm {
        width: 100px;
        height: 100px;
      }
      h1 {
        
        font-size: 1.6rem;
        margin-top: 40px;
        @include md {
          font-size: 2.8vw;
        }
        @include sm {
          margin-top: 20%;
          font-size: 1rem;
        }
      }
      p {
        font-size: clamp(.9rem, 2vw, 1.2rem);
        color: black;
        margin-top: 40px;
        @include sm {
          margin-top: 18%;
        }
      }

    }
    .f4 {
      width: 200px;
      height: 200px;
      background: $lightpurple;
      border-radius: 20px;
      text-align: center;
      margin-left: 30px;
    
      @include sm {
        width: 100px;
        height: 100px;
      }
      h1 {
        
        font-size: 1.6rem;
        margin-top: 40px;
        @include md {
          font-size: 2.8vw;
        }
        @include sm {
          margin-top: 20%;
          font-size: 1rem;
        }
      }
      p {
        font-size: clamp(0.9rem, 2vw, 1.2rem);
        color: black;
        margin-top: 40px;
        @include sm {
          margin-top: 18%;
        }
      }
    }
  }

  .section3 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;

    .f5 {
      width: 200px;
      height: 200px;
      background: #52c234;
      border-radius: 20px;
      text-align: center;
      @include sm {
        width: 100px;
        height: 100px;
      }
      h1 {
        color: #000;
        font-size: clamp(0.9rem, 3vw, 1.6rem);
        margin-top: 30px;
        @include sm {
          margin-top: 22%;
        }
      }
      p {
        font-size: clamp(0.7rem, 2vw, 1.2rem);
        color: black;
        margin-top: 30px;
        @include sm {
          margin-top: 22%;
        }
      }
    }

    
  }
}
