@import "./fonts/fonts.css";
@import "./abstracts/_mixins.scss";
@import "./abstracts/variables.scss";

$font2: "Corsica";
$font1: "Circular";
$font3: "HK-Grotesk";
$lightblack: rgb(54, 60, 76);
.facts {
  display: flex;
  flex-direction: row;
  font-family: $font1;
  @include sm {
    display: flex;
    flex-direction: column;
    margin-top: -15%;
    margin-left: 1%;
  }

  .Milk {
    margin-left: 20%;
    margin-top: 20%;
    width: 15%;
    height: 15%;
    @include sm {
      display: none;
    }
  }

  .download-btn {
    width: 350px;
    height: 50px;
    margin-top: 40%;
    margin-left: -19%;
    background: none;

    font-family: $font2;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $lightblack;
    border: 2px solid $lightblack;
    box-shadow: rgb(54, 60, 76) 0px 0px 0px 2px inset;

    @include sm {
      width: 300px;
      margin-left: 10%;
      font-size: 12px;
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 10%;

    @include sm {
      margin-left: 18%;
    }
  }

  .section1 {
    display: flex;
    flex-direction: row;
    width: 100%;

    .f1 {
      height: 200px;
      width: 200px;
      background: #ed213a;
      border-radius: 20px;
      text-align: center;

      @include sm {
        width: 100px;
        height: 100px;
      }
      h1 {
        color: #000;
        font-size: clamp(0.9rem, 3vw, 1.8rem);
        margin-top: 30px;
        @include sm {
          margin-top: 22%;
        }
      }
      p {
        font-size: clamp(0.7rem, 2vw, 1.2rem);
        color: black;
        margin-top: 30px;
        @include sm {
          margin-top: 22%;
        }
      }
    }
    .f2 {
      width: 200px;
      height: 200px;
      background: #f46b45;
      border-radius: 20px;
      text-align: center;

      margin-left: 30px;
      @include sm {
        width: 100px;
        height: 100px;
      }
      h1 {
        color: #000;
        font-size: clamp(0.9rem, 3vw, 1.6rem);
        margin-top: 30px;
        @include sm {
          margin-top: 22%;
        }
      }
      p {
        font-size: clamp(.7rem, 2vw, 1.2rem);
        color: black;
        margin-top: 30px;
        @include sm {
          margin-top: 22%;
        }
      }
    }
  }
  .section2 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;

    .f3 {
      width: 200px;
      height: 200px;
      background: #4286f4;
      border-radius: 20px;
      text-align: center;
      @include sm {
        width: 100px;
        height: 100px;
      }
      h1 {
        color: #000;
        font-size: clamp(0.9rem, 3vw, 1.6rem);
        margin-top: 30px;
        @include sm {
          margin-top: 22%;
        }
      }
      p {
        font-size: clamp(.7rem, 2vw, 1.2rem);
        color: black;
        margin-top: 30px;
        @include sm {
          margin-top: 22%;
        }
      }

    }
    .f4 {
      width: 200px;
      height: 200px;
      background: #11998e;
      border-radius: 20px;
      text-align: center;
      margin-left: 30px;
      @include sm {
        width: 100px;
        height: 100px;
      }
      h1 {
        color: #000;
        font-size: clamp(0.9rem, 3vw, 1.6rem);
        margin-top: 30px;
        @include sm {
          margin-top: 22%;
        }
      }
      p {
        font-size: clamp(0.7rem, 2vw, 1.2rem);
        color: black;
        margin-top: 30px;
        @include sm {
          margin-top: 22%;
        }
      }
    }
  }

  .section3 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;

    .f5 {
      width: 200px;
      height: 200px;
      background: #52c234;
      border-radius: 20px;
      text-align: center;
      @include sm {
        width: 100px;
        height: 100px;
      }
      h1 {
        color: #000;
        font-size: clamp(0.9rem, 3vw, 1.6rem);
        margin-top: 30px;
        @include sm {
          margin-top: 22%;
        }
      }
      p {
        font-size: clamp(0.7rem, 2vw, 1.2rem);
        color: black;
        margin-top: 30px;
        @include sm {
          margin-top: 22%;
        }
      }
    }

    .f6 {
      width: 200px;
      height: 200px;
      background: #a8e063;
      border-radius: 20px;
      text-align: center;
      margin-left: 30px;
      @include sm {
        width: 100px;
        height: 100px;
      }
      h1 {
        color: #000;
        font-size: clamp(0.9rem, 3vw, 1.6rem);
        margin-top: 30px;
        @include sm {
          margin-top: 22%;
        }
      }
      p {
        font-size: clamp(0.7rem, 2vw, 1.2rem);
        color: black;
        margin-top: 30px;
        @include sm {
          margin-top: 22%;
        }
      }
    }
  }
}
