@import "./fonts/fonts.css";
@import "./abstracts/_mixins.scss";
@import "./abstracts/variables.scss";
$font: "Circular Black";
$font2: "American Typewriter";
$font3: "Corsica";
$lightblack: rgb(54, 60, 76);
.header {
  display: flex;
  width: 100%;

  .heading {
    font-family: $font2;
    display: flex;
    margin-left: 65%;
    margin-top: 3.5%;
    font-size: clamp(0.8rem, 1.5vw, 2rem);

    @include txl {
      margin-left: 60%;
      margin-top: 3.5%;
    }

    @include lg {
      margin-left: 55%;
      margin-top: 4.5%;
    }
    @include md {
      margin-left: 55%;
      margin-top: 5.5%;
    }
    @include sm {
      margin-top: 11%;
      margin-left: 18%;
      width: 100%;
    }
  }
}

.logo {
  display: flex;
  margin: 2em;

  @include lg {
    width: 10%;
    height: 10%;
    margin-left: 5%;
  }

  @include md {
    width: 10%;
    height: 10%;
    margin-left: 4%;
  }

  @include sm {
    width: 20%;
    height: 20%;
  }
}
