@import "./fonts/fonts.css";
$font2: "American Typewriter";
@import "./abstracts/_mixins.scss";
@import "./abstracts/variables.scss";

.journey {
  display: flex;
  flex-direction: row;

  @include sm {
    margin-top: 20%;
    margin-left: -25%;
  }

  .truck {
    height: 10%;
    width: 10%;
    margin-left: 30%;
    @include sm {
      height: 15%;
      width: 15%;
    }
  }
  .time {
    font-size: clamp(0.4rem, 3vw, 1.5rem);
    font-family: $font2;
    font-weight: 600;
    margin-top: 4%;
    @include sm {
      margin-top: 6.5%;
      margin-left: 2%;
    }
  }
}
