@import "./fonts/fonts.css";
@import "./abstracts/_mixins.scss";
@import "./abstracts/variables.scss";
$font2: "American Typewriter";
$font3: "Circular";
$blue: #4286f4;
$red: #b5330b;
$yellow: #cc9600;
.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: $font2;
  @include sm {
    margin-top: 10%;
  }

    .board{
      display: flex;
      justify-content: center;
      position: relative;
      margin-top: -10%;
      .BMC{
        position: absolute;
        margin-top: 30%;
        margin-left: -62%;
        
        @include md {
          margin-top: 28%;
          margin-left: -70%;
        }
        @include sm {
          margin-top: 32%;
          margin-left: -72%;
        }

        h1{
          font-size: 1.2rem;
          min-height: 0vw;
          font-weight: 600;
          @include md {
            font-size: 2vw;
          }
          @include sm {
            font-size: 0.7rem;
          }
          
        }
        p{
          font-size: 1.8rem;
          min-height: 0vw;
          font-weight: 600;
          margin-top: -5%;
          @include md {
            font-size: 2vw;
          }
          @include sm {
            font-size: 0.7rem;
          }
        }
        
      }
     
        .plant-receive{
          position: absolute;
          margin-top: 45%;
          margin-left: 6%;
         
          @include md {
            margin-top: 41%;
            margin-left: 3%;
          }
          @include sm {
            margin-top: 51%;
            margin-left: 4%;
          }
  
          h1{
            font-size: 1.2rem;
            min-height: 0vw;
            font-weight: 600;
            @include md {
              font-size: 2vw;
            }
            @include sm {
              font-size: 0.7rem;
            }
          }
          p{
            font-size: 1.8rem;
            min-height: 0vw;
            font-weight: 800;
            margin-top: 1%;
            @include md {
              font-size: 2vw;
            }
            @include sm {
              font-size: 0.7rem;
            }
          }}
          
        .plant-dispatch{
          position: absolute;
          margin-top: 59%;
          margin-left: -58%;
          
          @include lg {
            margin-top:57%;
            margin-left: -65%;
          }
          @include md {
            margin-top: 56%;
            margin-left: -66%;
          }
         
          @include sm {
            margin-top: 72%;
            margin-left: -65%;
          }
          h1{
            font-size: 1.2rem;
            min-height: 0vw;
            font-weight: 600;
            @include md {
              font-size: 2vw;
            }
            @include sm {
              font-size: 0.7rem;
            }
          }
          p{
            font-size: 1.8rem;
            min-height: 0vw;
            font-weight: 800;
            margin-top: 1%;
            @include md {
              font-size: 2vw;
            }
            @include sm {
              font-size: 0.7rem;
            }
          }}
          .whs-receive{
            position: absolute;
            margin-top: 79%;
            margin-left: 60%;
            @include lg {
              margin-top: 74%;
              margin-left: 69%;
            }
            @include md {
              margin-top: 75%;
              margin-left: 70%;
            }
            @include sm {
                margin-top: 90%;
                margin-left: 70%;
            }
            
           
            h1{
              font-size: 1.2rem;
              min-height: 0vw;
              font-weight: 600;
              @include md {
                font-size: 2vw;
              }
              @include sm {
                font-size: 0.7rem;
              }
            }
            p{
              font-size: 1.8rem;
              min-height: 0vw;
              font-weight: 800;
              margin-top: 1%;
              @include md {
                font-size: 2vw;
              }
              @include sm {
                font-size: 0.7rem;
              }
            }}
            .whs-dispatch{
              position: absolute;
              margin-top: 102%;
              margin-left: -5%;
              @include md {
                margin-top: 105%;
              }
              @include sm {
                margin-top: 130%;
              }
             
      
              h1{
                font-size: 1.2rem ;
                min-height: 0vw;
                font-weight: 600;
                @include md {
                  font-size: 2vw;
                }
                @include sm {
                  font-size: 0.7rem;
                }
              }
              p{
                font-size: 1.8rem;
                min-height: 0vw;
                font-weight: 800;
                margin-top: 1%;
                @include md {
                  font-size: 2vw;
                }
                @include sm {
                  font-size: 0.7rem;
                }
              }}
      .timeline{
        width: 80%;
        height: 80%;
        align-items: center;
        display:flex;
        justify-content: center;
        @include sm {
          width: 100%;
          height: 100%;
        }
      }

    }
  

 
 
}
