@import "./fonts/fonts.css";
@import "./abstracts/_mixins.scss";
@import "./abstracts/variables.scss";
$font2: "American Typewriter";
$font3: "Circular";
$blue: #4286f4;
$red: #b5330b;
$yellow: #cc9600;
.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: $font2;
  @include sm {
    margin-top: -1%;
  }

    .board{
      display: flex;
      justify-content: center;
      position: relative;
      flex-direction: column;
      margin-top: -10%;
      .section1{
        display: flex;
        width: 100%;
        flex-direction: row;
        @include md {
          width: 100%;
        
        }
      }
      .BMC{
        position: absolute;
        margin-top: 30%;
        
        margin-left: 15%;
        
        @include lg {
          margin-left: 10%;
        }
        @include md {
          margin-top: 28%;
          margin-left: 14%;
        }
        @include sm {
          margin-top: 32%;
          margin-left: 6%;
        }

        h1{
          font-size: 1.2rem;
          min-height: 0vw;
          font-weight: 600;
          @include md {
            font-size: 2vw;
          }
          @include sm {
            font-size: 0.7rem;
          }
          
        }
        p{
          font-size: 1.8rem;
          min-height: 0vw;
          font-weight: 800;
          margin-top: -5%;
          @include md {
            font-size: 2vw;
          }
          @include sm {
            font-size: 0.7rem;
          }
        }
        
      }
      .section2{
        display: flex;
        flex-direction: row;
        width: 100%;
        background:none;
        z-index: 1;
        .plant-receive{
          position: absolute;
          margin-top: 44%;
          margin-left: 47%;
          
          @include lg {
            margin-left: 43%;
          }
          
          @include md {
            margin-top: 42%;
            margin-left: 45%;
          }
          @include sm {
            margin-top: 53%;
            margin-left: 39%;
          }
  
          h1{
            font-size: 1.2rem;
            min-height: 0vw;
            font-weight: 600;
            @include md {
              font-size: 2vw;
            }
            @include sm {
              font-size: 0.7rem;
            }
          }
          p{
            font-size: 1.8rem;
            min-height: 0vw;
            font-weight: 800;
            margin-top: 1%;
            @include md {
              font-size: 2vw;
            }
            @include sm {
              font-size: 0.7rem;
            }
          }}
        
         
          
        .plant-dispatch{
          position: absolute;
          margin-top: 58%;
          margin-left: 15%;

          
          @include lg {
            margin-top:57%;
            margin-left: 10%;
          }
          @include md {
            margin-top: 58%;
            margin-left: 10%;
          }
         
          @include sm {
            margin-top: 72%;
            margin-left: 3%;
          }
          h1{
            font-size: 1.2rem;
            min-height: 0vw;
            font-weight: 600;
            @include md {
              font-size: 2vw;
            }
            @include sm {
              font-size: 0.7rem;
            }
          }
          p{
            font-size: 1.8rem;
            min-height: 0vw;
            font-weight: 800;
            margin-top: 1%;
            @include md {
              font-size: 2vw;
            }
            @include sm {
              font-size: 0.7rem;
            }
          }}
        }
        .section3{
          display: flex;
          flex-direction: row;
          width: 100%;
          
          .whs-receive{
            position: absolute;
            margin-top: 75%;
            margin-left: 70%;
            @include lg {
              margin-top: 74%;
              margin-left: 72%;
            }
            @include md {
              margin-top: 75%;
              margin-left: 72%;
            }
            @include sm {
                margin-top: 92%;
                margin-left: 75%;
            }
            
           
            h1{
              font-size: 1.2rem;
              min-height: 0vw;
              font-weight: 600;
              @include md {
                font-size: 2vw;
              }
              @include sm {
                font-size: 0.7rem;
              }
            }
            p{
              font-size: 1.8rem;
              min-height: 0vw;
              font-weight: 800;
              margin-top: 1%;
              @include md {
                font-size: 2vw;
              }
              @include sm {
                font-size: 0.7rem;
              }
            }}
            .whs-dispatch{
              position: absolute;
              margin-top: 102%;
              margin-left: 43%;
              @include lg{
                margin-top: 104%;
              }
              @include md {
                margin-top: 105%;
              }
              @include sm {
                margin-top: 130%;
                margin-left:40%;
              }
             
      
              h1{
                font-size: 1.2rem ;
                min-height: 0vw;
                font-weight: 600;
                @include md {
                  font-size: 2vw;
                }
                @include sm {
                  font-size: 0.7rem;
                }
              }
              p{
                font-size: 1.8rem;
                min-height:  0vw;
                font-weight: 800;
                margin-top: 1%;
                @include md {
                  font-size: 2vw;
                }
                @include sm {
                  font-size: 0.7rem;
                }
              }}
            }
      .timeline{
        width: 80%;
        height: 80%;
        margin-left: 10%;
        align-items: center;
        display:flex;
        
        justify-content: center;
        @include sm {
          width: 100%;
          height: 100%;
          margin-left: -1%;
        }
      }

    }
  

 
 
}
