/* Different variables */
$screen-xs-max: 400px;
$screen-xsm-max: 475px;
$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-lg-max: 1024px;
$screen-xl-max: 1366px;
$screen-txl-max: 1500px;

// Constants
$xl-max-width: 1080px;
