table.delivery-order-table {
  width: 100%;
  border-collapse: collapse;
}

table.delivery-order-table td, table.delivery-order-table th {
  padding: 3px;
}

table.delivery-order-table td {
  border: 1px solid grey;
}
table.delivery-order-table tr td.home-address {
  max-width: 240px;
}

table.delivery-order-table tr th {
  color: white;
  background-color: grey;
}

table.delivery-sheet-product-type {
  width: 100%;
}

table.delivery-sheet-product-type tr td {
  background-color: white;
  color: black;
  border: none;
}

table.signature-table td {
  padding: 6px;
}