table.delivery-order-table {
  width: 100%;
  border-collapse: collapse;
}

table.delivery-order-table tr {
  margin-top: 10px;
  page-break-inside: avoid;
}

table.delivery-order-table td, table.delivery-order-table th {
  padding: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table.delivery-order-table td {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
table.delivery-order-table tr td.home-address, table.delivery-order-table tr td.location {
  max-width: 200px;
}

table.delivery-order-table tr th {
  color: white;
  background-color: grey;
}

table.delivery-sheet-product-type {
  width: 100%;
}

table.delivery-sheet-product-type tr td {
  background-color: white;
  color: black;
  border: none;
}

table.signature-table td {
  padding: 6px;
}