@import "../fonts/fonts.css";

$font: "Circular Black";
$font2: "American Typewriter";
.trace {
  font-family: $font;
  font-size: 24px;
  font-weight: 800;
}

.logo {
  display: flex;
  margin: 10px;
}
