@import "../fonts/fonts.css";

$font: "Circular Black";
<<<<<<< HEAD
$font2: "American Typewriter";
=======

>>>>>>> 8e3b7be7b85462994ce0b06572366468b03482c3
.trace {
  font-family: $font;
  font-size: 24px;
  font-weight: 800;
}

.logo {
  display: flex;
  margin: 2em;
}
